body {
    background-color: #EDF2F4;
    font-size: 1em;
    font-family:'Smythe', sans-serif;
    margin: 10px;
  }

img {
        margin: auto;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 350px;
        max-width: 800px;
        display: flex;
        justify-content: flex-start;
      }

@media (min-width: 600px) {
        .images {
          flex-direction: row;
          justify-content: center;
  	}

@media only screen and (min-width: 450px) {
            .images {
              width: 46%;
              min-height: 410px;
        }

@media only screen and (min-width: 600px) {
        .images {
          width: 21%;
          min-height: 383px;
  }

h1 {
      font-family:'Rokkitt', sans-serif;
      font-size: 2.5em;
      margin: 20px;
  }

h2 {
      font-family:'Rokkitt', sans-serif;
      margin: 20px;
  }

p {
      font-family: 'Rokkitt', sans-serif;
      color: black;
      font-size: 1em;
      margin: 20px;
  }

p a {
      font-family: 'Rokkitt', sans-serif;
      color: black;
      font-size: 1em;
      margin: 20px;
  }

p a:hover {
    background-color: #FCC5CB;
    font-weight: bold;
    color: lightpink;
    opacity: 0.7;
}

header {
  background-image: "header.jpg";
  opacity: 0.6;
  width: 100%;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}

ul a {
    font-family: 'Rokkitt', sans-serif;
    font-weight: bold;
    color: #0a007a;
}

ul a:hover {
    background-color: #FCC5CB;
    font-weight: bold;
    color: lightpink;

}
